body {
    background-color:rgb(53, 111, 186);
    
}

.sentro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sentro h1 {
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}